<html>
    <head>
        <title>Data</title>
        <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }
                
                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
        </style>
    </head>
    <body></body>
        <h1> The difference is {{diff}} out of {{length}} or {{error}}% <br> All Corrects: {{all_correct}}</h1>
        <h1>True Positive: {{ true_positive }} </h1>
        <h1>False Positive: {{ false_positive }} </h1>
        <h1>True Negative: {{ true_negative }} </h1>
        <h1>False Negative: {{ false_negative }} </h1>  
        <table>
            <tr>
                <th>Predictions</th>
                <th>Real Data</th>
            </tr>
            {% for di, ti in data %}
            {% if di != ti %}
            <tr style="background-color:red">
                <td>{{ di }} </td>
                <td>{{ ti }} </td>
            </tr>
            {% elif di == 1.0 and ti == 1.0 %}
            <tr style="background-color:green">
                    <td>{{ di }} </td>
                    <td>{{ ti }} </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ di }} </td>
                <td>{{ ti }} </td>
            </tr>               
            {% endif %}
            {% endfor %}
            </table> 
        </table>
    </body>
</html>