<html>
    <head>
        <title>Data</title>
        <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }
                
                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
        </style>
    </head>
    <body></body>
        <table>
            <tr>
                <th>Նշանակալիություն</th>
                <th>Ճիշտ Դրական</th>
                <th>Կեղծ Դրական</th>
                <th>Ճիշտ Բացասական</th>
                <th>Կեղծ Բացասական</th>
            </tr>
            <tr>
                <td>{{ 100 -error_perc }}%</td>
                <td>{{ true_positive }}</td>
                <td>{{ false_positive }}</td>
                <td>{{ true_negative }}</td>
                <td>{{ false_negative }}</td>
            </tr>               
      
        </table>        
        <!-- <h1> The difference is {{diff}} out of {{length}} or {{error_perc}}% <br> All Corrects: {{all_positives}}</h1>
        <h1>Ճիշտ Դրական: {{ true_positive }} </h1>
        <h1>Կեղծ Դրական: {{ false_positive }} </h1>
        <h1>Ճիշտ Բացասական: {{ true_negative }} </h1>
        <h1>Կեղծ Բացասական: {{ false_negative }} </h1>   -->
        <table>
            <tr>
                <th>Իրական Տվյալներ</th>
                <th>Կանխատեսումներ</th>
            </tr>
            {% for di, ti in data %}
            {% if di != ti %}
            <tr style="background-color:red">
                <td>{{ di }} </td>
                <td>{{ ti }} </td>
            </tr>
            {% elif di == 1.0 and ti == 1.0 %}
            <tr style="background-color:green">
                    <td>{{ di }} </td>
                    <td>{{ ti }} </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ di }} </td>
                <td>{{ ti }} </td>
            </tr>               
            {% endif %}
            {% endfor %}
        </table>
    </body>
</html>